@import "theme.css";

/* ------ Global Settings ------ */
* {
  border: none;
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
}

/* ------ Waybar Window ------ */
window#waybar {
  color: @foreground;
  background-color: @background;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0.8rem;
}

/* ------ Waybar Module Containers ------ */
.modules-right {
  color: @foreground;
  padding-left: 0.2em;
  padding-right: 1em;
}

.modules-left {
  color: @foreground;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

/* ------ Widget Colors ------ */
#clock,
#tray,
#pulseaudio,
#network,
#backlight,
#battery,
#custom-distro {
  color: @foreground;
}

/* ------ Clock ------ */
#clock {
  font-size: 25px;
  font-weight: bold;
}

/* ------ Workspaces ------ */
#workspaces button {
  color: @foreground;
  font-size: large;
  border-radius: 0.8rem;
}

#workspaces button.active {
  background: @selection;
  color: @foreground;
}

/* ------ Distro Logo ------ */
#custom-distro {
  font-size: 25px;
  padding-right: 10px;
}
