/* Catppuccin Mocha Colors */
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

/* ------ Global ------ */
* {
  all: unset;
  font-family: feather;
  font-family: Rubik;
  font-weight: bold;
  font-size: 18px;
}

/* ------ General ------ */
.eww_bar {
  background-color: $base;
  border-radius: 18px;
}

.module {
  margin: 0px 0px 0px 0px;
  border-radius: 10px 16px 0px 10px;
}

.icon {
  font-family: "icomoon";
}

/* ------ Tooltips ------ */
tooltip.background {
  background-color: $base;
  font-size: 18px;
  border-radius: 18px;
  color: $text;
}

tooltip label {
  margin: 6px;
}

/* ------ Widgets ------ */
/* --- Separator --- */
.separator {
  color: $surface0;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 8px 0px 8px;
}

/* --- Workspaces Widget --- */
/* Workspace Module */
.workspace_module {
  font-size: 27px;
  font-weight: normal;
  margin: 5px 0px 0px 20px;
  background-color: transparent;
}

/* Individual Workspace Icons */
.workspace-1,
.workspace-2,
.workspace-3,
.workspace-4 {
  margin: 0px 5px 5px 0px;
  color: $text;
  background-color: $base;
}

/* --- Brightness Widget ---*/
/* Brightness Icon */
.brightness_icon {
  font-size: 22px;
  color: $text;
  margin: 0px 10px 0px 10px;
}

/* Brightness Slider */
.brightness_bar {
  trough {
    background-color: $surface0;
    border-radius: 10px;
    min-height: 4px;
    /* Adjust the height of the trough */

    /* Highlight part of the trough to show the filled area */
    highlight {
      background-image: linear-gradient(to right, $flamingo 30%, $yellow 50%, $peach 100% * 50);
      border-radius: 10px;
    }
  }

  slider {
    background-color: transparent;
    /* Make the slider background transparent */
    border-radius: 10px;
    min-width: 10px;
    /* Adjust the width of the slider */
    min-height: 10px;
    /* Adjust the height of the slider */
    margin: -3px 0;
    /* Adjust the margin to center the slider */
  }
}

/* --- Volume Widget --- */
/* Volume Icon */
.volume_icon {
  font-size: 22px;
  color: $text;
  margin: 0px 10px 0px 10px;
}

/* Volume Bar */
.volume_bar {
  trough {
    background-color: $surface0;
    border-radius: 10px;
    min-height: 4px;
    /* Adjust the height of the trough */

    /* Highlight part of the trough to show the filled area */
    highlight {
      background-image: linear-gradient(to right, $pink 30%, $sapphire 50%, $mauve 100% * 50);
      border-radius: 10px;
    }
  }

  slider {
    background-color: transparent;
    /* Make the slider background transparent */
    border-radius: 10px;
    min-width: 10px;
    /* Adjust the width of the slider */
    min-height: 10px;
    /* Adjust the height of the slider */
    margin: -3px 0;
    /* Adjust the margin to center the slider */
  }
}

/* --- Bluetooth Widget --- */
/* Bluetooth Module */
.bluetooth_module {
  margin: 0px 10px 0px 10px;
}

/* --- WiFi Widget --- */
/* WiFi Module */
.wifi_module {
  margin: 0px 10px 0px 10px;
}

/* --- System Widgets --- */
.battery_icon,
.memory_icon {
  font-size: 15px;
  margin: 5px 15px 5px 8px;
  color: $text;
}

/* --- Battery Widget --- */
/* Battery Module */
.battery_module {
  background-color: $base;
  border-radius: 16px;
  margin: 0px 5px 0px 5px;
}

/* Battery Bar */
.battery_bar {
  color: $peach;
  background-color: $surface0;
  border-radius: 10px;
}

/* --- Memory Widget --- */
/* Memory Module */
.memory_module {
  background-color: $base;
  border-radius: 16px;
  margin: 0px 5px 0px 5px;
}

/* Memory Bar */
.memory_bar {
  color: $green;
  background-color: $surface0;
  border-radius: 10px;
}

/* --- Date Widget --- */
/* Time (Hour & Minute) */
.clock_hour_class,
.clock_minute_class {
  font-size: 23px;
  color: $text;
  font-weight: bold;
}

/* Time (Hour) */
.clock_hour_class {
  margin: 0px 5px 0px 0px;
}

/* Time (Minute) */
.clock_minute_class {
  margin: 0px 20px 0px 3px;
}

/* Time Separator */
.clock_separator_class {
  font-size: 16px;
  color: $text;
  margin: 3px 0px 0px 0px;
}

/* Date */
.clock_date_class {
  font-size: 18px;
  margin: 0px 20px 0px -1px;
  color: $subtext1;
}

/* ------ Notifications ------ */
/* Default Notification */
.end-default-notification-box {
  background-color: $mantle;
  padding: 12px;
  padding-left: 8px;
  margin: 12px;
  border-radius: 18px;
}

/* Notification Content Box */
.notification-content-box {
  margin-left: 12px;
}

/* Notification Text */
.notification_text {
  color: $text;
}

/* Notification Title */
.notification-title {
  font-weight: bold;
  font-size: 1em;
}

/* Notification Content */
.notification-content {
  font-size: .8em;
}

/* Notification Battery Icon */
.notification-battery-icon {
  font-size: 1.5em;
}

/* ------ Popups ------ */
/* --- Calendar --- */
.calendar {
  background: $mantle;
  font-family: Rubik;
  font-size: 18px;
  font-weight: bold;
  border-radius: 18px;


  .calendar-inside-box {
    padding: 0px 10px 0px 10px;
    color: $text;

    .calendar {
      &.highlight {
        padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

/* --- System --- */
.system_module {
  background-color: $mantle;
  padding: 15px;
  border-radius: 18px;
}

.system_separator {
  color: $surface0;
  font-size: 18px;
  margin: 0px 10px 0px 10px;
}

.system_battery {
  color: $peach;
  background-color: $surface0;
  border-radius: 10px;
}

.system_memory {
  color: $green;
  background-color: $surface0;
  border-radius: 10px;
}

.system_battery_text,
.system_memory_text {
  font-size: 21px;
  font-weight: bold;
  margin: 14px 0px 0px 25px;
}

.system_battery_sub_text,
.system_memory_sub_text {
  font-size: 16px;
  color: $subtext1;
  margin: 5px 0px 0px 25px;
}

.system_battery_icon,
.system_memory_icon {
  font-size: 30;
  margin: 31px 31px 31px 31px;
}
