[colors]
background = #0D1017
foreground = #BFBDB6
background-alt = #565B66
foreground-alt = #0B0E14
primary = #FF8F40
secondary = #E6B673
alert = #D95757
accent = #E6B450

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0

[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3
[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true


[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 37
fixed-center = true
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 3
line-color = #f00
border-size = 10
border-color = # #00000000
padding-left = 0
padding-right = 2
module-margin-left = 1
module-margin-right = 2
font-0 = "JetBrains Mono:style=bold;size=10;1" # "Source Code Pro Semibold:size=10;1"
font-1 = "Font Awesome 5 Free:style=Solid:size=10;1"
font-2 = "Font Awesome 5 Brands:size=10;1"
modules-center = date
modules-right = pulseaudio powermenu
tray-position = 
tray-padding = 2
cursor-click = pointer
cursor-scroll = ns-resize

[module/date]
type = internal/date
interval = 5

date =
date-alt = " %Y-%m-%d"

time = %H:%M
time-alt = %H:%M:%S

format-prefix = 
format-foreground = ${colors.foreground}
format-background = ${colors.background}
format-padding = 2

label = %date% %time%

[module/powermenu]
type = custom/menu

expand-right = true

format-spacing = 1

label-open = 
label-open-foreground = ${colors.accent}
label-close =  cancel
label-close-foreground = ${colors.accent}
label-separator = ~
label-separator-foreground = ${colors.accent}

menu-0-0 = log off
menu-0-0-exec = menu-open-1
menu-0-1 = reboot
menu-0-1-exec = menu-open-2
menu-0-2 = power off 
menu-0-2-exec = menu-open-3

menu-1-0 = ../
menu-1-0-exec = menu-open-0
menu-1-1 = log off
menu-1-1-exec = pkill leftwm

menu-2-0 = ../
menu-2-0-exec = menu-open-0
menu-2-1 = reboot
menu-2-1-exec = reboot

menu-3-0 = ../
menu-3-0-exec = menu-open-0
menu-3-1 = power off
menu-3-1-exec = poweroff

;---- everything passed this line is bloat and can be removed ----

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>
label-volume = Volume %percentage%%
label-volume-foreground = ${root.foreground}

label-muted = 🔇 muted
label-muted-foreground = #666

