@import url("./mocha.css");

/* ------ Overarching styles ------ */
* {
  all: initial;
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font";
}

tooltip * {
  color: @text;
  background: @base;
  border-radius: 20px;
  padding: 2px;
}

window#waybar {
  background: transparent;
}

/* ------ Modules ------ */
/* Workspaces */
#workspaces {
  background: @base;
  padding: 6px 8px;
  border-radius: 20px;
}

#workspaces button {
  background: @text;
  margin-right: 8px;
  border-radius: 12px;
  min-width: 22px;
  min-height: 22px;
  transition: all 0.07s linear;
}

#workspaces button.active {
  min-width: 60px;
  background: @mauve;
}

#workspaces button:nth-last-child(1) {
  margin-right: 0px;
}

/* Media */
#custom-media {
  background: @base;
  border-radius: 20px;
  padding: 6px 8px;
}

/* Rest */
#clock,
#pulseaudio,
#battery,
#memory {
  background: @base;
  border-radius: 20px;
  padding: 6px 12px;
}
