@import "themes/mocha.css";

/* ------ All ------ */
* {
  all: unset;
  font-size: 16px;
}

/* ------ Transparency ------ */
#window,
#match,
#entry,
#plugin,
#main {
  background: transparent;
}

/* ------ Matches ------ */
#match.activatable {
  border-radius: 18px;
  padding: 3px 3px;
  margin-top: 1px;
}

#match:selected {
  color: @maroon;
  background: @surface_1;
  border-radius: 18px;
}

#match.activatable:first-child {
  margin-top: 9px;
}

#match.activatable:last-child {
  margin-bottom: 1px;
}

/* ------ Plugins ------ */
#plugin:hover #match.activatable {
  border-radius: 18px;
  padding: 0.3rem;
  margin-top: 0.01rem;
  margin-bottom: 0;
}

/* ------ Entry ------ */
#entry {
  border-radius: 18px;
  margin: 3px;
  padding: 5px 5px;
  caret-color: white;
  font-size: 20px;
  font-weight: 700;
}

/* ------ List ------ */
list > #plugin {
  /* Color */
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  /* Margin and Padding */
  margin: 3px;
  padding-top: 3px;
  padding-left: 3px;

  /* Font */
  font-weight: 400;
}

list > #plugin:first-child {
  margin-top: 0.3rem;
}

list > #plugin:last-child {
  margin-bottom: 0.3rem;
}

list > #plugin:hover {
  padding: 5px;
}

/* ------ Main Winodw ------ */
box#main {
  /* Border */
  border-color: @mauve;
  border-width: 4px;
  border-style: solid;
  border-radius: 18px;

  /* Margin and Padding */
  margin-top: 15px;
  padding: 5px;

  /* Color */
  background-color: rgba(0, 0, 0, 0.8);
}
